:root {
        /* Колір для абзаців, лого, адреси */
    --primary-text-color: rgba(67, 68, 85, 1);
        /* Колір для навігації та заголовків h2*/
    --title-text-color: rgba(46, 47, 66, 1);
        /* акцент лого і кнопка, фон героя */
    --accent-color: rgba(77, 90, 229, 1);
}

/* Задаємо фон та основний колір тексту */
.page-body {
    background-color: #E5E5E5 ;
    color: var(--primary-text-color);
}
/* Знімаємо стилізацію спсику через додатковий клас list */
.list {
    list-style: none;
}

/* Задаємо колір для посилання ЛОГО, заголовків секцій, навігації */
.navigation .logo-link, .navigation a, .title {
    color: var(--title-text-color);
}

/* Задаємо колір для контактів */
.contact a {
    color: var(--primary-text-color);
}

/* Спроба покрасити перші три букви лого в інший колір */
.initial {
    color: var(--accent-color);
}

/* Колір заголовку героя */
.hero-title {
    color: rgba(255, 255, 255, 1);
}

/* Задаємо колір та фон для кнопки головноно героя*/
.button {
    color:#E5E5E5;
    background-color: var(--accent-color);
}

/* Фон для секції головного героя */
.hero {
    background-color: rgba(46, 47, 66, 1);
}

 /* Задаємо  колір тексту для футера */
.footer-text {
    color: rgba(231, 233, 252, 1);
}

 /* Задаємо фоновий колір для команди */
.team-cards .team-card {
background-color: rgba(244, 244, 253, 1);
}
