:root {
        /* Колір для абзаців, лого, адреси */
    --primary-text-color: rgba(67, 68, 85, 1);
        /* Колір для навігації та заголовків h2*/
    --title-text-color: rgba(46, 47, 66, 1);
        /* акцент лого і кнопка, фон героя */
    --accent-color: rgba(77, 90, 229, 1);
}

/* Задаємо фон та основний колір тексту */
.page-body {
    background-color: #E5E5E5 ;
    color: var(--primary-text-color);
}
/* Знімаємо стилізацію спсику через додатковий клас list */
.list {
    list-style: none;
}

/* Задаємо колір для навігації */
.navigation a{
    color: var(--title-text-color);
}

/* Задаємо колір для посилання ЛОГО */
.navigation .logo-link {
    color: var(--title-text-color);
}

/* Задаємо колір для навігації */
.contact a {
    color: var(--primary-text-color);
}

/* Спроба покрасити перші три букви лого в інший колір */
.initial {
    color: var(--accent-color);
}

/* Колір заголовків секцій */
.title {
    color: var(--title-text-color);
}

/* Колір заголовку героя */
.hero-title {
    color: var(--title-text-color);
}

/* Задаємо колір та фон для кнопки */
.button {
    color:#E5E5E5;
    background-color: var(--accent-color);
}

 /* Задаємо  колір тексту для футера */
.footer-text {
    color: rgba(231, 233, 252, 1);
}

 /* Задаємо фоновий колір для команди */
.team-cards .team-card {
background-color: rgba(244, 244, 253, 1);
}



/* акцент лого і кнопка, фон героя rgba(77, 90, 229, 1) */

/* задній фон #E5E5E5 */

/* Другорядний колір фону "Наша команда" rgba(244, 244, 253, 1) */

/* Колір для навігації та заголовків h2  rgba(46, 47, 66, 1) */

/* Колір для абзаців, лого, адреси rgba(67, 68, 85, 1) */

/* Колір лого в футері rgba(244, 244, 253, 1) */

/* Абзац футера rgba(231, 233, 252, 1)
 */

/* Колір заголовка героя  rgba(255, 255, 255, 1) */
